<li>

{{name}}

<button class="change-eat" data-id="{{id}}" data-neweat="{{devoured}}"
	{{#if devoured}}DEVOURED IT!{{else}}DEVOUR{{/if}}
</button>

<button class="delet-burger">DELETE!</button>

</li>